<div  style="background-image: url('<%= image_path 'wallpaper.png', crop: :fill%> ');" >
  <div class="container">
    <div class="card-grid">
      <%= render 'card_user' %>
    </div>
  </div>
</div>
