<div class="bg-white">
  <div class="container d-flex gap-5 p-5">
    <div class="col-5">
      <div class="col-10 d-flex flex-column gap-4">
        <div class="content-navbar d-flex">
          <div><%= image_tag 'logo2.png', style: "height: 60px; width: auto;" %> </div>
          <div class="">
            <h3 class="m-auto">Hero Trainer</h3>
            <h6 class="text-black">Ultimate Hero Center</h6>
          </div>
        </div>
        <div>
          <p>
            Take your health and body to the next level with our comprehensive program designed to help you reach your fitness goals.
          </p>
        </div>
        <div>
          <p>
            Privacy Policy | © 2025 Hero Trainer
            Design by Chris
          </p>
        </div>
      </div>
    </div>
    <div class="col-3 ps-5">
      <p class="fw-bold fs-5">Our Classes</p>
      <p>Martial Arts</p>
      <p>Strength</p>
      <p>Endurance</p>
      <p>Combat Training</p>
      <p>Tactical Combat</p>
    </div>
    <div class="col-3">
      <p class="fw-bold fs-5">Working Hours</p>
      <p>Monday - Friday:</p>
      <p>7:00am - 21:00pm</p>
      <p>Saturday:</p>
      <p>7:00am - 19:00pm</p>
      <p>Sunday - Closed</p>
    </div>
  </div>
</div>
