<div class="d-flex justify-content-between">
  <div class="content">
    <h1>Hero Trainer</h1>
    <p>Connecting users with elite training partners
      for personalized workouts and skill development</p>
    <p><button><%= link_to "Get Started", new_user_session_path, class: "text-white" %></button></p>
  </div>
  <%= render "sliders" %>
  <%= javascript_include_tag "sliders" %>
</div>
